{% extends 'base.html'%}
{% load url_params %}
{% block content %}
<h2>Edges</h2>
{% if is_paginated %}
<div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% replace_query_param request.get_full_path 'page' page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% replace_query_param request.get_full_path 'page' page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
</div>
{% endif %}
<form action="" method="get">
{{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.source_node_type.errors }}
    <label for="{{ form.source_node_type.id_for_label }}">Source node type:</label>
    {{ form.source_node_type }}
</div>
<div class="fieldWrapper">
    {{ form.target_node_type.errors }}
    <label for="{{ form.target_node_type.id_for_label }}">Target node type:</label>
    {{ form.target_node_type }}
</div>
    {% if request.GET.name %}
    <input type="hidden" value="{{request.GET.name}}" name="name">
    {% endif %}
    <div>
        <button type="submit">Filter</button>
    </div>
</form>
<table class="table table-stripped">
    <thead>
    <tr>
        <td>Source</td>
        <td>Target</td>
    </tr>
    </thead>
    <tbody>
    {% for node in object_list %}
    <tr>
        <td><a href="{% url 'node-detail' node.source_node %}">{{node.source_node.name}}({{node.source_node.type}})</a>
        </td>
        <td><a href="{% url 'node-detail' node.target_node %}">{{node.target_node.name}}({{node.target_node.type}})</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
