{% extends 'base.html'%}
{% block content %}
<h2>Node detail {{ object.id }}</h2>
<table class="table table-stripped">
    <thead>
    <tr>
        <td>#</td>
        <td>Type</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.type}}</td>
        <td>{{object.name}}</td>
    </tr>
    </tbody>
</table>
<h3>Relations</h3>
<table class="table table-stripped">
    <thead>
    <tr>
        <td>#</td>
        <td>Type</td>
        <td>Name</td>
        <td>This node role</td>
    </tr>
    </thead>
    <tbody>
    {% for edge in object.source.all %}
    <tr>
        <td><a href="{% url 'node-detail' edge.target_node.id %}">{{edge.target_node.id}}</a></td>
        <td>{{edge.target_node.type}}</td>
        <td>{{edge.target_node.name}}</td>
        <td>Source</td>
    </tr>
    {% endfor %}
    {% for edge in object.target.all %}
    <tr>
        <td><a href="{% url 'node-detail' edge.source_node.id %}">{{edge.source_node.id}}</a></td>
        <td>{{edge.source_node.type}}</td>
        <td>{{edge.source_node.name}}</td>
        <td>Target</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
