{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extracss %}
{% block content %}
<form action="" method="get">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.node_type.errors }}
        <label for="{{ form.node_type.id_for_label }}">Node type:</label>
        {{ form.node_type }}

    {% if request.GET.name %}
    <input type="hidden" value="{{request.GET.name}}" name="name">
    {% endif %}

        <button type="submit">Filter</button>
    </div>
</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12"><!-- Plotly chart will be drawn inside this DIV -->
            <div id="plot" style="width:100%;height:80vh"></div>
            <div class="hover">
                <img id="hover-image" src="">
                <span id="name"></span>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrajs %}

<!-- Plotly.js -->
<script src="{% static 'javascript/lib/plotly-latest.min.js' %}"></script>
<script>
    var urlParams = "?{{ request.GET.urlencode }}";
</script>
<script src="{% static 'javascript/script.js' %}"></script>
{% endblock extrajs %}

