<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Keystone explorer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'node-list'%}">Node list <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'edge-list' %}">Edge list</a></li>
        <li><a href="{% url 'visualization' %}">Visualization</a></li>
      </ul>
      <form class="navbar-form navbar-left" method="get" action="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by name" name="name" value="{{request.GET.name}}">
        </div>
        {% if request.GET.node_type %}
        <input type="hidden" value="{{request.GET.node_type}}" name="node_type">
        {% endif %}
        {% if request.GET.source_node_type %}
        <input type="hidden" value="{{request.GET.source_node_type}}" name="source_node_type">
        {% endif %}
        {% if request.GET.target_node_type %}
        <input type="hidden" value="{{request.GET.target_node_type}}" name="target_node_type">
        {% endif %}
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock content%}
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">
{% block extracss %}
{% endblock extracss %}
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>