.hover {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 20px 30px;
    border: 1px solid #666666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.8);
    min-width: 120px;
    min-height: 100px;
}

#hover-image {
    max-width: 120px;
    height: auto;
}

#name {
    color: #2b2d2f;
    font-size: 16px;
}
